n8n/____ (1).json
{
  "name": "邏輯處裡",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -60
      ],
      "id": "cf2d065b-0b9a-43e0-b77d-fc8230dd6b78",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "limit": "={{ 10 }}"
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        -260,
        -60
      ],
      "id": "64cb190d-e772-4667-a941-441a367e6b04",
      "name": "Customer Datastore (n8n training)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a7f4110b-5b7f-4f06-a201-fe6940a5b8f6"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        620,
        -320
      ],
      "id": "499ae008-3b69-42e8-9d74-ff880e76dff9",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "='{{ $json.country === 'US' || $json.country === 'UK' }}'",
                    "rightValue": "='true'",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "628c0ba4-0c5e-47ee-9938-444e60393449"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ef2db9cf-cbb3-48f7-997b-6fe49165ff3a",
                    "leftValue": "={{ $json.country }}",
                    "rightValue": "[null]",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        620,
        -100
      ],
      "id": "d60858ad-25e0-4ca8-b1d9-876164ded8f8",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        620,
        120
      ],
      "id": "d2cb4084-c1ab-480c-b0f6-1681f4de838d",
      "name": "Merge"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        600,
        400
      ],
      "id": "3cd5dc26-3a43-4529-913c-250855a2a9bc",
      "name": "Compare Datasets",
      "notesInFlow": true,
      "notes": "比較兩個資料集"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -40,
        660
      ],
      "id": "31b9109c-fc96-447b-937c-6abad5aa874f",
      "name": "Loop Over Items",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "notes": "一筆資料逐步batch_size"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        980,
        700
      ],
      "id": "067f3f16-515d-449d-8258-52fb2a29ffb8"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "id, name",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        700
      ],
      "id": "a8c751bc-f96b-4641-b35c-760820cf5dd4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        560
      ],
      "id": "95034a1d-567c-455e-b396-03704c4aad47",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.id = 1\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        700
      ],
      "id": "cbd616f5-ff45-470b-a2bc-a41564838fb5",
      "name": "Code"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -160,
        340
      ],
      "id": "2583f919-c6d7-4228-b934-5dbf657abd9f",
      "name": "Wait",
      "webhookId": "d9665395-96da-4830-9d51-6160ad337e2d"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ae8c0a9-1e2e-4ab1-8622-5f7d705d7848",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "66193d776ad0044d8dede52ce497252bcc6aa256525e420f47defaa6d8e98906"
  },
  "id": "HZjzlotBbY0euvvK",
  "tags": []
}