n8n/LineMessage.json
{
  "name": "LineMessage",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"events\"][\"0\"][\"message\"][\"text\"] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        80,
        -180
      ],
      "id": "e9322809-a179-4bb7-921c-6ea10b08cc6a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "format": "default"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -140,
        100
      ],
      "id": "4c7058b3-c3e4-4df3-9434-b805ce7b900d",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "zFduEXMERbt97oy2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        480,
        80
      ],
      "id": "aacbf9ac-4f8d-48af-941e-5d5eda314ef2",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "jWQh23SMLhDRrTCg",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        100,
        60
      ],
      "id": "5a304147-20d9-4bb2-9eea-1661d3c0346d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "myline",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        -200
      ],
      "id": "498246d3-5fd8-4863-845f-e81a46be14a4",
      "name": "Webhook",
      "webhookId": "209095da-94e5-4a8c-b614-b17b9eae9df8"
    },
    {
      "parameters": {
        "jsCode": "function generateSessionId(){\n  const timestamp = Date.now().toString(36);\n  const randoms = Math.random().toString(36).substring(2,8);\n  return timestamp + randoms\n}\nitems[0].json.sessionId = generateSessionId();\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        -200
      ],
      "id": "eb672b4b-2023-499d-88a2-f11044fda091",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=UTF-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.output }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -220
      ],
      "id": "3f6be90e-a2a7-46b0-bb57-2d9883e820a2",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Sx4e7ityFpN1z5VA",
          "name": "Line_Api_key"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.output = item.json.output.replace(\"\\n\", \" \")\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        -180
      ],
      "id": "4d31ae12-6e24-4d7a-a552-da40cef3cef5",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da424406-e09e-4401-9a53-af8b990c9a41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "66193d776ad0044d8dede52ce497252bcc6aa256525e420f47defaa6d8e98906"
  },
  "id": "UUICtcJ72G54FGOE",
  "tags": []
}